body {
  height: 100%;
  background: rgb(2, 73, 72);
  background: -webkit-linear-gradient(210deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background:    -moz-linear-gradient(210deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background:      -o-linear-gradient(210deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background:     -ms-linear-gradient(210deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background:         linear-gradient(240deg, rgb(2, 73, 72) 0%, rgb(0, 5, 5) 100%) rgb(5, 0, 0);
  background-repeat: no-repeat;
  font: 400 1.375em/1.38 Helvetica;
  color: rgb(6, 237, 237);
}

.text {
  float: left;
  clear: both;
  width: 24.25%;
  min-height: 38px;
  margin: 48px 0 0 41.4166666666%;
  font-size: 1em;
  color: rgb(6, 237, 237);
}

._button {
  display: block;
  float: left;
  width: 26.4166666666%;
  height: 61px;
  margin: 204px 0 0 40.25%;
  border: 2px solid rgb(49, 244, 244);
  border-radius: 7px;
  background: rgb(142, 88, 88);
  background: -webkit-linear-gradient(0deg, rgb(142, 88, 88) 0.8333333333333334%, rgb(1, 16, 66) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(0deg, rgb(142, 88, 88) 0.8333333333333334%, rgb(1, 16, 66) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(0deg, rgb(142, 88, 88) 0.8333333333333334%, rgb(1, 16, 66) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(0deg, rgb(142, 88, 88) 0.8333333333333334%, rgb(1, 16, 66) 100%) rgb(222, 222, 222);
  background:         linear-gradient(450deg, rgb(142, 88, 88) 0.8333333333333334%, rgb(1, 16, 66) 100%) rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(16, 255, 3);
}